main{
    margin: auto;
    width: 90%;
    max-width: 900px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
*{
    box-sizing: border-box;
}
body{
    background-color: #f7ead7;
    font-family: 'Varela Round', sans-serif;
}

header img{
    object-fit: contain;
    object-position: left center;
    opacity: 1;
    width: 200px;
    text-align: center;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: white;
    align-items: center;
    background-color: #e09900;
    padding: 10px;
    border-bottom: 2px solid black;
}
nav ul{
    padding: 0;
}
nav li{
    list-style: none;
    font-weight: bold;
}
nav a{
    color: black;
    text-decoration: line;
}
section{
    width: 100%;
}
section img{
    width: 100%;
}
article
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    text-align: center;
    background-color: #e09900;
}

@media screen and (max-width: 600px) {
    .menu{
        flex-direction: column;
        height: fit-content;
    }
}